@{
  Layout = "_Layout";
}

@model DrSneuss.Models.Machine

<h4>Add a new machine</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.MachineName)
    @Html.TextBoxFor(model => model.MachineName)
    @Html.LabelFor(model => model.MachineNumber)
    @Html.TextBoxFor(model => model.MachineNumber)
    @Html.Label("Select Engineers")
    @Html.DropDownList("EngineerId")
    @* @Html.Label("Select Department")
    @Html.DropDownList("DepartmentId") *@
    <input type="submit" value="Add new Machines" />
}
<p>@Html.ActionLink("Show all Machines", "Index")</p>