@using System.Linq;

@{
  Layout = "_Layout";
}

@model DrSneuss.Models.Engineer
@using DrSneuss.Models
<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</h3>

@if(@Model.Machines.Count == 0)
{
  <p>This engineer does not belong to any machine</p>
}
else
{
  <h4>machines to which the engineer belongs:</h4>
}

@if(ViewBag.value == null)
{
  <p>This engineer does not belong to any machine or the machine has been deleted</p>
}
else
{
  @Html.ActionLink($"{Model.Machine.MachineName}", "Details", "Machines", new {id = Model.MachineId} )
}

<ul>
@foreach(var join in Model.Machines)
{
  <li>@join.Machine.Name</li>
  @using(Html.BeginForm("DeleteMachine", "Engineers"))
  {
    @Html.Hidden("joinId", @join.EngineerMachineId)
    <input type="submit" value="Delete"/>
  }
}
</ul>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p><p>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })</p>

