@{
  Layout = "_Layout";
}
@using DrSneuss.Models;
@model List<DrSneuss.Models.Engineer>;

<h1>Engineers</h1>

@if (@ViewBag.SearchFlag == 1 && Model.Count == 0) 
{
  <h3>No search results found.</h3>
}
else if (@ViewBag.SearchFlag == 0 && Model.Count == 0)
{
  <h3>No engineers have been added yet!</h3>
}

<ul>
  @foreach (Engineer engineer in Model)
  {
    <li>@Html.ActionLink($"{engineer.EngineerName}", "Details", new { id = engineer.EngineerId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new engineer", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>