@{
  Layout = "_Layout";
}

@model DrSneuss.Models.Engineer

<h4>Add a new Engineer</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.EngineerName)
    @Html.TextBoxFor(model => model.EngineerName)

    @Html.LabelFor(model => model.EnrollmentDate)
    @Html.TextBoxFor(model => model.EnrollmentDate, new { @type = "date"})

    @Html.Label("Select Machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Add new engineer" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Engineers", "Index")</p>
  
